* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
    margin-top: 5%;
}

.checkboxes {
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    width: 20%;
}

.heading {
    font-weight: bolder;
}

#main {
    margin-top: 5%;
    width: 100%;
}

.cell {
    float: left;
    padding: 25px;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    margin-left: 0;
    height: 70px;
}

#monthly {
    display: none;
}

#comments {
    display: none;
}

.hidden {
    display: none;
}

img {
    cursor: pointer;
    margin-left: 90px;
    height: 40px;
    width: 40px;
}

.block {
    display: block;
}

.drop {
    position: absolute;
    right: 320px;
    bottom: 185px;
    background-color: white;
    clear: both;
    padding: 10px;
    width: 170px;
    height: 250px;
    border: 1px solid black;
    z-index: 999;
    display: none;
}

#tab-body {
    clear: both;
}

.body-row {
    clear: both;
}