* {
    box-sizing: border-box;
}

html {
    font-family: Calibri, Trebuchet, sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
    margin-top: 5%;
}

.checkboxes {
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    width: 20%;
}

.heading {
    font-weight: bolder;
}

.color {
    background-color: lightblue;
}

#drop {
    font-weight: normal;
}

#main {
    margin-top: 5%;
    width: 100%;
}

.cell {
    float: left;
    padding: 25px;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    margin-left: 0;
    height: 70px;
    cursor: pointer;
}

#monthly {
    display: none;
}

#comments {
    display: none;
}

div.drop_list:after {
    content: "▼";
    position: relative;
    right: -35px;
    top: 30px;
}
.drop {
    position: relative;
    right: 52px;
    top: 24px;
    background-color: white;
    text-align: left;
    clear: both;
    padding: 10px;
    width: 170px;
    height: 250px;
    border: 1px solid black;
    z-index: 999;
    display: none;
}

#apply {
    width: 100%;
    height: 40px;
    background-color: #008CBA;
    color: white;
}

input[type="button"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.body-row {
    clear: both;
}